<div class="col-md-12 panel-info">
  <div class="content-box-header  panel-heading">
    <div class="panel-title">عرض التشخيصات</div>
    <div class="panel-options"></div>
  </div>
  <div class="content-box-large box-with-header">

    <%= link_to 'إضافة تشخيص جدبد', new_diagnosis_path, class: 'btn btn-primary' %>
    <br>
    <br>
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">اسم التشخيص</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @diagnoses.each do |diagnosis| %>
            <tr>
              <td><%= diagnosis.name %></td>
              <td><%= link_to 'تعديل', edit_diagnosis_path(diagnosis) %>
                |
                <%= link_to 'حذف', diagnosis, method: :delete, data: { confirm: 'هل أنت متأكد؟' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <br>

    <%= link_to 'إضافة تشخيص جدبد', new_diagnosis_path, class: 'btn btn-primary' %>
  </div>
</div>
