<div class="box" dir="rtl">
  <div class="box-header with-border">
    <h3 class="box-title">عرض التشخيصات</h3>
  </div>
  <div class="box-body">

    <%= link_to 'إضافة تشخيص جدبد', new_diagnosis_path, class: 'btn btn-primary' %>
    <br>
    <br>
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">اسم التشخيص</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @diagnoses.each do |diagnosis| %>
            <tr>
              <td><%= diagnosis.name %></td>
              <td><%= link_to 'تعديل', edit_diagnosis_path(diagnosis) %>
                |
                <%= link_to 'حذف', diagnosis, method: :delete, data: { confirm: 'هل أنت متأكد؟' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <div class="box-footer">
      <%= link_to 'إضافة تشخيص جدبد', new_diagnosis_path, class: 'btn btn-primary' %>
    </div>
  </div>
