<%= form_with(model: patient, local: true) do |form| %>
<% if patient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(patient.errors.count, "error") %>
      prohibited this patient from being saved:</h2>

    <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="col-md-3">
  <div class="form-group">
    <%= form.label :code, "الكود"%>
    <%= form.number_field :code, id: :patient_code, class: "form-control" %>
  </div>
</div>

<div class="col-md-6">
  <div class="form-group">
    <%= form.label :name,"الاسم" %>
    <%= form.text_field :name, id: :patient_name, class: "form-control" %>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <%= form.label :is_male,"النوع" %>
    <%= form.select :is_male, [["ذكر", true], ["أنثى", false]], {:include_blank => false}, {class: 'form-control'} %>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <%= form.label :phone,"الهاتف" %>
    <%= form.text_field :phone, id: :patient_phone, class: "form-control" %>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <%= form.label :birthdate,"تاريخ الميلاد" %>
    <%= form.text_field :birthdate, id: :patient_birthdate, class: "form-control datepicker" %>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <%= form.label :region_id,"المنطقة" %>
    <%= form.collection_select :region_id, Region.all, :id, :name, { :include_blank => true }, { :class=> "form-control" } %>
  </div>
</div>

<div class="col-md-6">
  <div class="form-group">
    <%= form.label :address,"العنوان" %>
    <%= form.text_area :address, id: :patient_address, class: "form-control" %>
  </div>
</div>
<div class="col-md-6">

  <div class="form-group">
    <%= form.label :note,"ملاحظات" %>
    <%= form.text_area :note, id: :patient_note, class: "form-control" %>
  </div>
</div>

<div class="actions">
  <%= form.submit "حفظ", class: "btn btn-primary" %>
</div>
<% end %>
