<div class="page-header">
  <h1>
    <small>عرض</small>
    حالة</h1>
</div>

<p>
  <strong>الكود:</strong>
  <%= @patient.code %>
</p>

<p>
  <strong>اسم الحالة</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>الهاتف:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>تاريخ الميلاد:</strong>
  <%= @patient.birthdate %>
</p>

<p>
  <strong>المنطقة:</strong>
  <%= @patient.region&.name %>
</p>

<p>
  <strong>العنوان:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>ملاجظات:</strong>
  <%= @patient.note %>
</p>

<%= link_to 'تعدييل', edit_patient_path(@patient), class: 'btn btn-success pull-left' %>
<%= link_to 'عودة', patients_path, class: 'btn btn-success pull-left' %>
