<div class="col-md-12 panel-info">
  <div class="content-box-header  panel-heading">
    <div class="panel-title">عرض كل أنواع الكشف</div>
    <div class="panel-options"></div>
  </div>
  <div class="content-box-large box-with-header">

    <%= link_to 'إضافة نوع كشف جدبد', new_visit_type_path, class: 'btn btn-primary' %>
    <br>
    <br>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="text-center">اسم نوع الكشف</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @visit_types.each do |visit_type| %>
          <tr>
            <td><%= visit_type.name %></td>
            <td><%= link_to 'تعديل', edit_visit_type_path(visit_type) %>
              |
              <%= link_to 'حذف', visit_type, method: :delete, data: { confirm: 'هل أنت متأكد؟' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'إضافة نوع كشف جدبد', new_visit_type_path, class: 'btn btn-primary' %>
  </div>
</div>
