<div class="col-md-12 panel-info">
  <div class="content-box-header  panel-heading">
    <div class="panel-title">عرض المناطق</div>
    <div class="panel-options"></div>
  </div>
  <div class="content-box-large box-with-header">

    <%= link_to 'إضافة منطقة جدبدة', new_region_path, class: 'btn btn-primary' %>
    <br>
    <br>
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">اسم المنطقة</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @regions.each do |region| %>
            <tr>
              <td><%= region.name %></td>
              <td><%= link_to 'تعديل', edit_region_path(region) %>
                |
                <%= link_to 'حذف', region, method: :delete, data: { confirm: 'هل أنت متأكد؟' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <br>

    <%= link_to 'إضافة منطقة جدبدة', new_region_path, class: 'btn btn-primary' %>
  </div>
</div>
