<div class="box" dir="rtl">
  <div class="box-header with-border">
    <h3 class="box-title">عرض الأدوية</h3>
  </div>
  <div class="box-body">
    <% if can? :create, Medicament %>
      <%= link_to 'إضافة دواء جدبد', new_medicament_path, class: 'btn btn-primary' %>
      <br><br>
    <% end %>
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">اسم الدواء</th>
          </tr>
        </thead>
        <tbody>
          <% @medicaments.each do |medicament| %>
            <tr>
              <td>
                <div class="btn-group">
                  <% if can? :update, Medicament %>
                    <%= link_to edit_medicament_path(medicament), title: 'تعديل', class: "btn btn-warning btn-xs" do %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                  <% end %>

                  <% if can? :destroy, Medicament %>
                    <%= link_to medicament, method: :delete, data: { confirm: 'Are you sure?' }, title: 'حذف', class: "btn btn-danger btn-xs" do %>
                      <i class="fa fa-trash-o"></i>
                    <% end %>
                  <% end %>
                </div>
                <%= medicament.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if can? :create, Medicament %>
      <%= link_to 'إضافة دواء جدبد', new_medicament_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
