<div class="sidebar content-box" style="display: block;">
  <ul class="nav">
    <!-- Main menu -->
    <li class="current">
      <%= link_to root_path do %>
        <i class="glyphicon glyphicon-home"></i>
        الرئيسية
      <% end %>
    </li>
    <li>
      <%= link_to visits_path do %>
        <i class="glyphicon glyphicon-calendar"></i>
        عرض الزيارات
      <% end %>
    </li>
    <li>
      <%= link_to reports_index_path do %>
        <i class="glyphicon glyphicon-stats"></i>
        عرض التقارير
      <% end %>
    </li>
    <li>
      <%= link_to patients_path do %>
        <i class="glyphicon glyphicon-list"></i>
      عرض الحالات
      <% end %>
    </li>
    <li class="submenu">
      <a href="#">
      <i class="glyphicon glyphicon-cog"></i>
      الإعدادات
      <span class="caret pull-right"></span>
      </a>
      <!-- Sub menu -->
      <ul>
        <li>
          <%= link_to "التشخيصات", diagnoses_path %>
        </li>
        <li>
          <%= link_to "الأدوية", medicaments_path %>
        </li>
        <li>
          <%= link_to "المناطق", regions_path %>
        </li>
        <li>
          <%= link_to "نوع الكشف", visit_types_path %>
        </li>
        <li>
          <%= link_to "المستخدمين", users_index_path %>
        </li>
      </ul>
    </li>
  </ul>
</div>
