<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Ehab kids clinic</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script> <![endif]-->
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <!-- Logo -->
            <div class="logo">
              <h1>
                <%= link_to "Ehab kids clinic", root_path %>
              </h1>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-lg-12">
                <div class="input-group form">
                  <input type="text" class="form-control" placeholder="بحث ...">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">بحث</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="navbar navbar-inverse" role="banner">
              <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %>
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInUp">
                      <li>
                        <%= link_to "خروج", destroy_user_session_path, method: :delete %>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="row">
        <div class="col-md-2">
          <div class="sidebar content-box" style="display: block;">
            <ul class="nav">
              <!-- Main menu -->
              <li class="current">
                <%= link_to root_path do %>
                <i class="glyphicon glyphicon-home"></i>
                الرئيسية
              <% end %>
            </li>
            <li>
              <%= link_to visits_path do %>
              <i class="glyphicon glyphicon-calendar"></i>
              عرض الزيارات
            <% end %>
          </li>
          <li>
            <%= link_to reports_index_path do %>
            <i class="glyphicon glyphicon-stats"></i>
            عرض التقارير
          <% end %>
        </li>
        <li>
          <%= link_to patients_path do %>
          <i class="glyphicon glyphicon-list"></i>
          عرض الحالات
        <% end %>
      </li>
      <li class="submenu">
        <a href="#">
          <i class="glyphicon glyphicon-cog"></i>
          الإعدادات
          <span class="caret pull-right"></span>
        </a>
        <!-- Sub menu -->
        <ul>
          <li>
            <%= link_to "المناطق", regions_path %>
          </li>
          <li>
            <%= link_to "نوع الكشف", visit_types_path %>
          </li>
          <li>
            <%= link_to "المستخدمين", users_index_path %>
          </li>

        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-10">
  <div class="row">

    <!-- < %= render 'layouts/header' %> -->

    <%= render "layouts/flash" %>
    <%= yield :flash_message %>

    <%= yield %>
  </div>
</div>
</div>
</div>
</body>
</html>
