<!DOCTYPE html>
<html lang="en">

  <head>
    <title>ClinicKids</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="<%= request.base_url %>/font-awesome/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
  </head>
  <!--/head-->

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="row">
        <%= render "layouts/flash" %>
        <%= yield :flash_message %>
      </div>
        <%= yield %>
      </div>

    </div>
    <div class="bottom"></div>

  </body>

</html>
